<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>My Webpage</title>
    <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='jquery-1.9.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='holder.js') }}"></script>
</head>
<body>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<form role="form" action="add" method="get">
			  <div class="form-group">
			    <label for="name">Name</label>
    			<input type="text" class="form-control" id="name" name="name">
			  </div>
			  <div class="form-group">
			    <label for="species">Species</label>
    			<input type="text" class="form-control" id="species" name="species">
			  </div>
			  <div class="form-group">
			    <label for="color">Color</label>
    			<input type="text" class="form-control" id="color" name="color">
			  </div>
			  <div class="form-group">
			    <label for="gender">Gender</label>
    			<input type="text" class="form-control" id="gender" name="gender">
			  </div>
			  <div class="form-group">
			    <label for="latitude">Latitude</label>
    			<input type="text" class="form-control" id="latitude" name="latitude">
			  </div>
			  <div class="form-group">
			    <label for="longitude">Longitude</label>
    			<input type="text" class="form-control" id="longitude" name="longitude">
			  </div>
			  <div class="form-group">
			    <label for="url">Picture</label>
    			<input type="text" class="form-control" id="url" name="url">
			  </div>
			  <button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
		<div class="col-md-1"></div>
	</div>
</body>
</html>